:root {
    --main-color:#555555;
    --title-color: #303030;
    --secondary-color: #9DA4BD;
    --accent-color: #FF6C00;
    --white-color: #ffffff;
    --main-bcg: #ffffff;
    --secondary-bcg: #F7F7F7;
    --hero-overlay: rgba(25, 28, 38, 0.2);
    --pretitle-color: rgba(157, 164, 189, 0.6);
    --form-border: rgba(157, 164, 189, 0.4);
    --gap-color: rgba(157, 164, 189, 0.12);
    --price-bcg: #111319;

}
body {
    font-family: 'Open Sans', Montserrat, DM Sans, sans-serif;
    color: var(--main-color);
    background-color: var(--main-bcg);
}


h1, h2, h3, h4, h5, h6, p, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-thumb {
    font-size: 0;
    flex-shrink: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex-block {
    display: flex;
    align-items: stretch;
}

.section {
    padding: 120px 0;
    margin: 0 auto;
}

.page-header{
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
}

.page-header .container {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-left: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo{
    display: block;
    margin-right: 130px;
}

.nav-item, .tel-link {
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-wrap {
    margin-left: auto;
}
.tel-link {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    
}

.nav-item:hover, .nav-item:focus, .nav-item:active,
.tel-link:hover, .tel-link:focus, .tel-link:active {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin-right: 30px;
}

.nav-link:not-last-child {
    margin-right: 0;
}

.site-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    padding: 12px 20px;
    min-width: 160px;
    margin-left: auto;

    transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)/;
}

.site-btn.dark {
    color: var(--white-color);
}

.site-btn.light {
    color: var(--title-color);
}

.site-btn:hover, .site-btn:focus, .site-btn:active {
    color: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.social-list {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: 30px;
}

.social-item {
    display: flex;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--title-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:not(:last-child) {
    margin-right: 40px;
}

.social-item:hover, .social-item:focus, .social-item:active {
    color: var(--accent-color);
}

.hero .container {
    position: relative;

    display: flex;
    padding: 272px 0 208px;
    background-image: linear-gradient(to right, var(--white-color) 11%, var(--hero-overlay) 11%, var(--hero-overlay) 100%),
    url(../images/Slider1.jpg), url(../images/Slider2.jpg), url(../images/Slider3.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.hero .social-list {
    width: 100px;
}

.hero-content {
    flex-grow: 1;
    margin-left: 100px;
}

.hero-descr, .about-descr, .pricing-descr, .benefits-descr, .team-descr, .worktypes-descr, .schedule-descr {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.hero-descr::before,
.pricing-descr::before {
    content: '';
    display: block;
    align-self: center;
    background-color: var(--pretitle-color);
    height: 1px;
    width: 60px;
    margin-right: 20px;
}

.about-descr::before, 
.benefits-descr::before,
.team-descr::before,
.worktypes-descr::before {
    content: '';
    display: block;
    align-self: center;
    background-color: var(--title-color);
    height: 1px;
    width: 60px;
    margin-right: 20px;
}

.hero-descr, .pricing-descr {
    color: var(--pretitle-color);
    display: flex;
    margin-bottom: 20px;
}
.about-descr, .benefits-descr, .team-descr, .worktypes-descr {
    color: var(--title-color);
    display: flex;
    margin-bottom: 20px;
}
.schedule-descr {
    color: var(--white-color);
}
.hero-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin: 20px 0;
}
.hero-text, .about-text, .pricelist-text, .benefits-text {
    font-size: 18px;
    line-height: 1.67;    
    letter-spacing: 0.02em;
}

.hero-text, .pricelist-text {
    color: var(--secondary-color);
}

.social-item:first-child::before {
    content: '';
    display: block;
    align-self: center;
    background-color: var(--title-color);
    height: 1px;
    width: 60px;
    margin-right: 40px;
}

.social-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transform: rotate(270deg);
    }

.slider-block {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 40px 30px;
    }
.slider-btn {
    display: flex;
    align-items: flex-start;
    padding: 0;
    min-width: 60px;
    min-height: 24px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    border: none;
    color: var(--pretitle-color);
    border-bottom: 1px solid var(--pretitle-color);
    background-color: transparent;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider-btn:first-child {
    margin-right: 30px;
    justify-content: start;
}

.slider-btn:last-child {
    justify-content: end;
}

.slider-btn:hover, .slider-btn:focus, .slider-btn:active {
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
}

.about-title, .pricing-title, .benefits-title, .team-title, .worktypes-title, .booking-title, .contacts-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}
.about-title, .benefits-title, .team-title, .worktypes-title {
    color: var(--title-color);
}

.about .img-thumb:not(:last-child) {
    margin-right: 30px;
}

.about-content {
    width: 48%;
    margin-left: 30px;
}

.pricing {
    background-image: url(../images/price-bcg.png), 
    linear-gradient(to right, var(--price-bcg) 0%, var(--price-bcg) 100%);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: contain;
    max-width: 1600px;
}

.pricing-title, .booking-title, .contacts-title {
    color: var(--white-color);
    margin-bottom: 44px;
}

.pricelist-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.pricelist.left {
    margin-right: 30px;
}

.pricelist {
    width: 570px;
    padding: 30px 20px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.pricelist-item {
    display: flex;
}

.pricelist-item:not(:last-child) {
    margin-bottom: 20px;
}

.flex-gap {
    flex-grow: 1;
    border-bottom: 1px solid var(--gap-color);
    margin: 0 12px;
}

.pricing .site-btn {
    display: block;
    margin: 0 auto;
}

.about-story {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    margin: 20px 0 42px;
}

.benefits-card {
    width: 170px;
    max-height: 133px;
    padding: 20px 24px;
    color: var(--title-color);
    background-color: var(--secondary-bcg);
    text-align: center;
}

.benefits-card:nth-child(odd) {
    margin-right: 30px;
}

.benefits-card:nth-child(even) {
    margin-top: 30px;
}

.benefits .container {
    display: flex;
    padding: 0 70px 0 100px;
}

.benefits-block {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.benefits-q-ty {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.05em;
}

.benefits-q-ty>sup {
    position: static;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    color: var(--accent-color);
}

.benefits-tips {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    margin-top: 6px;
}

.benefits-contain {
    width: 50%;
    margin-left: 130px;
}

.team {
    background-color: var(--secondary-bcg);
}

.barber-card {
    width: 370px;
}

.barber-card:not(:last-child) {
    margin-right: 30px;
}

.card-content{
    margin-top: 30px;
}

.barber-name {
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
}

.barber-position {
    margin: 8px auto 30px;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.sm-bar {
    display: flex;
    justify-content: center;
}

.sm-item {
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
}

.sm-item:not(:last-child) {
    margin-right: 10px;
}

.sm-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.sm-icon {
    fill: var(--title-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-link:hover .sm-icon, 
.sm-link:focus .sm-icon, 
.sm-link:active .sm-icon {
    fill: var(--accent-color);
}

.booking {
    width: 50%;
    background-color: var(--price-bcg);
    padding: 120px 30px 120px 0;
}

.booking-content {
    width: 600px;
    margin-left: auto;
}

.booking-input {
    width: 270px;
    background-color: transparent;
    color: var(--white-color);
    border: none;
    box-shadow: none;
    border-bottom: 1px solid var(--form-border);

    transition: 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.booking-input:focus, .booking-input:active,
.booking-comment:focus, .booking-comment:active { 
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid var(--white-color);
}

.booking-input:focus::placeholder, .booking-input:active::placeholder,
.booking-comment:focus::placeholder, .booking-comment:active::placeholder {
    color: var(--white-color);
}

.booking-input:first-child {
    margin-right: 30px;
}

.booking-comment {
    display: block;
    width: 570px;
    height: 76px;
    background-color: transparent;
    color: var(--white-color);
    border: none;
    box-shadow: none;
    border-bottom: 1px solid var(--form-border);
    resize: none;
    margin: 44px auto 44px 0;

    transition:
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    width: 50%;
    padding-left: 100px;
    background-color: var(--price-bcg);
    background-image: url(../images/contact-bcg.png);
    background-size: cover;
    background-position: top left;
}

.contacts-block {
    width: 270px;
    margin-bottom: 70px;
    color: var(--secondary-color);
    }

.contacts-item {
    display: flex;
}

.contacts-item:first-child::before {
    content: '';
    align-self: baseline;
    background-image: url(../images/map-pin.svg);
    background-position: center;
    height: 24px;
    width: 24px;
    margin-right: 16px;
}

.contacts-item:nth-child(2)::before {
    content: '';
    align-self: center;
    background-image: url(../images/phone.svg);
    background-position: center;
    height: 24px;
    width: 24px;
    margin-right: 16px;
}

.contacts-item:last-child::before {
    content: '';
    align-self: center;
    background-image: url(../images/mail.svg);
    background-position: center;
    height: 24px;
    width: 24px;
    margin-right: 16px;

}

.contacts-item:not(:last-child) {
    margin-bottom: 20px;
}

.schedule-descr {
    display: flex;
    margin-bottom: 20px;
}

.schedule-descr::before {
    content: '';
    display: block;
    align-self: center;
    background-color: var(--white-color);
    height: 1px;
    width: 60px;
    margin-right: 20px;
}

.booking-input::placeholder,
.booking-comment::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--pretitle-color);
}

.adress-link, .contacts-link, .mail-link, .schedule {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--secondary-color);
}
.adress-link, .contacts-link {
    text-decoration: none;
}

.adress-link {
    font-weight: 700;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.worktypes-descr {
    margin-bottom: 0;
}

.worktypes-block.flex-block {
    justify-content: space-between;
    margin-top: 44px;
}


.copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-color);
}

.page-footer .container {
    padding: 56px 215px;
    justify-content: space-between;
}

.page-footer .social-list {
    transform: none;
}